@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: linear-gradient(45deg, black 30%, rgb(11, 4, 45));
    --azul-escuro: #2c1d45;
    --azul-claro: #c3bbf4;
    --roxo-contraste: #790cbd;
    --preto: #1f1f1f;
    --branco: #fcfcfc;
    --nunito: 'Nunito Sans', sans-serif;
    --poppins: 'Montserrat', sans-serif;
}



html, body{

    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--branco);
    background-color: black;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: var(--nunito);

}



#content{
    height: 84%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: -700px;

}
#content h1,
#content p {
    margin: 0;
}

#linha1{
     width: 80px;
    height: 3px;
    background: linear-gradient(to right,#2200ff, rgb(46, 103, 149), #790cbd);
    border-radius: 10px;
    margin-top: -498px !important;
    margin-left: 10px;
    position: fixed;
}

#ia{

    color: var(--azul-claro);

    font-size: 20px;
    font-weight: 100;
    letter-spacing: 4px;

    margin-left: 100px !important;
    margin-bottom: 47px !important;
}

#he{

    color: var(--branco);

    font-family: var(--poppins);
    font-size: 100px;
    font-weight: 600;

}

#cr{

    background-image: linear-gradient(to right, rgb(162, 201, 239), rgb(18, 100, 172), rgb(125, 32, 159));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-family: var(--poppins);
    font-size: 70px;
    font-weight: 700;

    margin-top: -10px !important;
    margin-left: 5px !important;
}

#tema{

    color: var(--azul-claro);

    font-size: 20px;
    font-weight: 100;
    letter-spacing: 4px;

    margin-left: 10px !important;
    margin-top: 30px !important;
    
}


#linha2{
     width: 3px;
    height: 100px;
    background: linear-gradient(to right,#2200ff, rgb(46, 103, 149), #790cbd);
    border-radius: 10px;
    margin-top: 60px !important;
    margin-left: 10px;
    position: fixed;
}

.integrantes{
    display: flex;
    flex-direction: column;
}

.right{
    color: var(--azul-claro);
    margin-left: 120px;
    margin-top: 60px;
}

.left{

    margin-top: 85px;
    position: fixed;

}

[data-lucide] {
    width: 120px;
    height: 50px;
}

.botaos{

    position: fixed;
    justify-content: flex-end;
    align-items: flex-end;

    margin: 0;
    bottom: 15px;
    right: 20px;


}

#direita{

    width: 60px;
    height: 35px;

    border: 2px solid transparent;
    border-radius: 10px;

    color: var(--branco);
    background:
        linear-gradient(var(--azul-escuro), var(--azul-escuro)) padding-box,
        linear-gradient(to right, var(--azul-escuro) 40%, var(--roxo-contraste)) border-box;

}
